a{
	text-decoration: none;
}

*{
	margin: 0;
	padding: 0;
}

.group1 a{
	font-family: "Ariel", sans-serief;
	font-weight: 500;
	font-size: 16px;
	color: #edf0f1;
	text-decoration: none;
}

button{
	font-family: "Ariel", sans-serief;
	font-weight: 500;
	font-size: 16px;
	color: #edf0f1;
	text-decoration: none;
}


header{
	background-color: #24252a;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 25px 10%;
}

header, h1{
	font-family: "Ariel", sans-serief;
	font-weight: 1000;
	font-size: 20px;
	color: #edf0f1;
	text-decoration: none;
}

.nav__links{
	list-style: none;

}
.group1 {
	display: inline-grid;
	padding: 0px 20px;
}

.group1 a {
	transition: all .3 ease 0s;
}

.group1 a links:hover {
	color: #24252a;
}

button {
	padding: 9px 25px;
	background-color: rgba(0,136,169,1);
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.3 ease 0;
}

button:hover {
	background-color: rgba(0,136,169,.8);
}





.wrapper-links {
	align-items: center;
	display: inline-grid;
	height: 100%;
	width: 100%;
	position: relative;
	background-image: url(wscreative.JPG);
  	background-repeat: no-repeat;
	background-size: cover;
	opacity: .8;
}

.group2 a{
	padding: 0px 10%;
	font-family: "Ariel", sans-serief;
	font-weight: 500;
	font-size: 30px;
	text-color: black;
	text-decoration: none;
	transition: all .3 ease 0s;
	color: #24252a;
}

.wrapper-links{
	list-style: none;
}

.group2 {
	vertical-align: middle;
}

.group2 a links:hover {
	color: #24252a;
}
.group2 a:visited {
	color: #24252a;
}






.social_container{
	height: 100%;
}

.social_links {
	grid-gap: 150px;
	justify-items: center;
	display: inline-grid;
	height: 100%;
	width: 100%;
	position: relative;
	background-image: url(socbg.jpg);
  	background-repeat: no-repeat;
	background-size: cover;
	opacity: .7;
}


.group3 a{
	font-family: "Ariel", sans-serief;
	font-weight: 900;
	font-size: 80px;
	text-color: black;
	text-decoration: none;
	color: #24252a;
}

.social_links{
	list-style: none;
}

.group3 {
	vertical-align: middle;
}

.group3 a links:hover {
	color: #edf0f1;
}
.group3 a:visited {
	color: #edf0f1;
}




.product_wapper {
	height: auto;
	width: auto; 
	background-attachment: fixed;
	background-image: url(productbg.jpg);
  	background-repeat: no-repeat;
	background-size: cover;
  	padding: 70px 10%;
}

.product_links {
	display:grid;
	align-items: center;
  	grid-gap: 50px 100px;
  	grid-template-columns: 300px auto;
  	grid-template-rows: 300px 300px 300px 300px;
	padding: 30px 30px;
	background: #edf0f1;
	opacity: .9;
}


.group4 {
	font-family: "Ariel", sans-serief;
	font-weight: 900px;
	font-size: 30px;
	text-color: black;
	text-decoration: none;
	color: #24252a;
	vertical-align: middle;
}

.product_links{
	list-style: none;
}


/* Dropdown Button */
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}






.about_wapper {
	height: 100%;
	width: auto; 
	background-image: url(aboutbg.jpg);
  	background-repeat: no-repeat;
	background-size: cover;
  	padding: 70px 10%;
}

.about_links {
	display:grid;
	align-items: center;
	justify-items: center;
  	grid-gap: 50px 100px;
  	grid-template-columns: auto;
  	grid-template-rows: 500px;
	padding: 30px 30px;
	background: #edf0f1;
	opacity: .9;
}

.about_links{
	list-style: none;
}


